block breadcrumb
  ol.breadcrumb
    li: a(href="/"): i.fa.fa-home
    li: a(ng-href="#/products") Costos directos
    li.active(ng-if="!product._id") Nueva lista de precios

block content
  h1 Cargar precios
  p.
    No es necesario cargar todos los campos. Sólo cargue aquellos productos
    que haya comprado recientemente.
  
  form(novalidate name="form")
    .row(ng-repeat='product in products|orderBy:"name"')
      .col-md-3
        label(for='id_price_{{ product._id }}' ng-bind='product.name')
      .col-md-3
        .input-group
          span.input-group-addon $
          input.form-control(placeholder="Precio" type="number" min="0" 
                             ng-model="product.price.price"
                             id='id_price_{{ product._id }}')
      .col-md-3
        input.form-control(placeholder="Fuente" ng-model="product.price.source")
      
  .row
    .col-md-12
      .pull-right
        .btn-group(role="group" aria-label="...")
          button.btn.btn-success(ng-click="save()" 
                                 ng-disabled="!form.$valid")
            .fa.fa-floppy-o
            |  Guardar
          a.btn.btn-danger(ng-href="#/products")
            .fa.fa-remove
            |  Cancelar
    
  hr
  
  .row
    .col-md-12
      .well
        h3 Nuevo producto
          small  Agrega nuevo producto a la lista
        form.form-inline
          .form-group
            label(for="id_name") Nombre*
            input.form-control(id="id_name"
                               ng-model="product.name" 
                               placeholder="Ácido fosfórico" 
                               required="required")
          .form-group
            label(for="id_performance_rate") Tasa de rendimiento
            input.form-control(id="id_performance_rate"
                               ng-model="product.performance_rate" 
                               title="Cantidad de usos por envase"
                               placeholder="90" 
                               type="number")
          button.btn.btn-default(ng-click="saveProduct(product)" 
                                 ng-disabled="!product.name")
            .fa.fa-plus
            |  Crear producto
