//- Creates a form's input
mixin form-input(label, model, placeholder, required)
  - var id = label.replace(/\s/,"-").toLowerCase()
  .form-group(ng-class="{'has-error':form.$submitted && form.#{model}.$error}"
              class=required?"required":"")
    label(for="id_#{id}")=label
    input.form-control(
      id="id_" + id
      type="text"
      name=model
      ng-model=model
      placeholder=placeholder
      required=required
    )&attributes(attributes)
    
//- Creates a form's textarea
mixin form-textarea(label, model, placeholder, required)
  - var id = label.replace(/\s/,"-").toLowerCase()
  .form-group(ng-class="{'has-error':form.$submitted && form.#{model}.$error}")
    label(for="id_" + id)=label
    textarea.form-control(
      id="id_" + id
      name=model
      ng-model=model
      placeholder=placeholder
      required=required
    )&attributes(attributes)

//- Creates a form's select
mixin form-select(label, model, items)
  - var id = label.replace(/\s/,"-").toLowerCase()
  .form-group(ng-class="{'has-error':form.$submitted && form.#{model}.$error}")
    label(for="id_" + id)=label
    select.form-control(
      id="id_" + id
      name=model
      ng-model=model
      required=required
    )&attributes(attributes)
      for item in items
        option(value=item.value)=item.label

//- creates a datepicker
mixin form-date(label, model, required)
  - var id = label.replace(/\s/,"-").toLowerCase()
  .form-group(ng-class="{'has-error':form.$submitted && form.#{model}.$error}")
    label(for="id_" + id)=label
    uib-datepicker(
      ng-model=model
      class="well well-sm"
    )&attributes(attributes)
    
//- creates a datepicker
mixin form-time(label, model, required)
  - var id = label.replace(/\s/,"-").toLowerCase()
  .form-group(ng-class="{'has-error':form.$submitted && form.#{model}.$error}")
    label(for="id_" + id)=label
    uib-timepicker(
      ng-model=model
      class="well well-sm"
    )&attributes(attributes)
