mixin form-input(label, model, placeholder, required)
  - var id = label.replace(/\s/,"-").toLowerCase()
  .form-group(ng-class="{'has-error':form.$submitted && form.#{model}.$error}")
    label(for="id_" + id)=label
    input.form-control(
      id="id_" + id
      type="text"
      name=model
      ng-model=model
      placeholder=placeholder
      required=required
    )&attributes(attributes)
