//- Make a SVG odontogram.
mixin odontogram(options)
  - var quadrants = [1, 2, 3, 4]
  - var pieces_even = [1, 2, 3, 4, 5, 6, 7, 8]
  - var pieces_odd = [8, 7, 6, 5, 4, 3, 2, 1]
  - for quadrant in quadrants
    .quadrant
      - for piece in quadrant % 2 ? pieces_odd : pieces_even
        - id = quadrant * 10 + piece
          .piece(id=id)
            table
              thead
                if(options && options.remove)
                  th(colspan=2)=id
                  th
                    button.btn.btn-xs.btn-disease(ng-click="setRemoved(#{id})")
                      i.fa.fa-times
                else
                  th(colspan=3)=id
              tbody
                tr: td(colspan=3 ng-bind='pieces[#{id}].sectors[1].issue.code')
                tr
                  td(ng-bind='pieces[#{id}].sectors[4].issue.code')
                  td(ng-bind='pieces[#{id}].sectors[0].issue.code')
                  td(ng-bind='pieces[#{id}].sectors[2].issue.code')
                tr: td(colspan=3 ng-bind='pieces[#{id}].sectors[3].issue.code')
            include ../svg/odontogram.svg
