extends ../layouts/patient.jade

prepend nav
  -var section = 'odontogram'
  
//- ---------------------------------------------------------------------------
//- Breadcrumb
block breadcrumb
  +breadcrumb(
    {href:"#/patients", name:"Lista de pacientes"},
    {href:"#/patients/{{patient.slug}}", name:"{{ patient.first_name }} {{ patient.last_name }}"},
    {name:"Odontogramas"}
  )

block content
  h2 Odontogramas
  
  //- -------------------------------------------------------------------------
  //- Table of odontograms
  table.table.table-striped
    thead
      tr
        th Fecha
        th Título
        th Comentarios
        th
          a.btn.btn-default(ng-href="#/patients/{{patient.slug}}/odontograms/new") 
            i.fa.fa-plus
            |  Nuevo
    tbody
      //- ---------------------------------------------------------------------
      //- List of odontograms
      tr(ng-repeat="odontogram in odontograms|orderBy:'-date'")
        td
          a(ng-bind="odontogram.date|date"
            ng-href="#/patients/{{patient.slug}}/odontograms/{{odontogram._id}}")
        td
          a(ng-bind="odontogram.title" 
            ng-href="#/patients/{{patient.slug}}/odontograms/{{odontogram._id}}")
        td(ng-bind="odontogram.comments|limitTo:80")
        
        //- -------------------------------------------------------------------
        //- Buttons for edit and remove each odontogram
        td
          .btn-group
            a.btn.btn-warning(ng-href="#/patients/{{patient.slug}}/odontograms/{{odontogram._id}}/edit"
                              title="Editar")
              i.fa.fa-pencil
            button.btn.btn-danger(
                title="Eliminar"
                ng-click="remove(odontogram)" 
                confirm="¿Está seguro que quiere eliminar el odontograma?"
            ): i.fa.fa-trash
