h1 Patient's form

form(novalidate name="form")
  .form-group(ng-class="{'has-error':form.$submitted && form.first_name.$error}")
     label(for="id_first_name") Name
     input#id_first_name.form-control(
       ng-model="patient.first_name" name="first_name" 
       placeholder="John" required
     )

  .form-group(ng-class="{'has-error':form.$submitted && form.last_name.$error}")
     label(for="id_last_name") Name
     input#id_last_name.form-control(
       ng-model="patient.last_name" name="last_name" 
       placeholder="Smith" required
     )
  
  .form-group(ng-class="{'has-error':form.$submitted && form.phone.$error}")
     label(for="id_phone") Phone
     input#id_phone.form-control(
       ng-model="patient.phone" name="phone" placeholder="4123-4123" required
     )

  .row
    .pull-right
      .btn-group(role="group" aria-label="...")
        button.btn.btn-success(ng-click="save()" 
                               ng-disabled="!form.$valid") Save
        button.btn.btn-danger(ng-click="cancel()") Cancel
