extends ../layouts/patient.jade

prepend nav
  -var section = 'gallery'
  
block breadcrumb
  +breadcrumb(
    {href:"#/patients", name:"Lista de pacientes"},
    {href:"#/patients/{{patient.slug}}", name:"{{ patient.first_name }} {{ patient.last_name }}"},
    {name:"Fotos"}
  )

block content
  h2 Fotos
  
  //- ------------------------------------------------------------------------
  //- Toolbar
  .btn-toolbar(role="toolbar")
    .btn-group
      button.btn.btn-default(
        type='file'
        ngf-select="uploadphoto($file, $invalidfiles)"
        accept="image/*")
        i.fa.fa-camera
        |  Subir foto
      //- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      //- XXX Por ahora solamente voy a soportar carpetas en un solo nivel  xxx
      //- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      button.btn.btn-default(ng-click="createFolder()" ng-disabled="foldername")
        i.fa.fa-folder
        |  Crear carpeta
  hr
  //- ------------------------------------------------------------------------
  //- Folders
  //- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  //- XXX Por ahora solamente voy a soportar carpetas en un solo nivel  xxx
  //- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  .row
    .col-md-12(ng-if="foldername")
      a(ng-href="#/patients/{{patient.slug}}/gallery/{{folder.name}}")
        i.fa.fa-arrow-left
    .col-md-12(ng-repeat="folder in folders|orderBy:'name'" ng-if="!foldername")
      a(ng-href="#/patients/{{patient.slug}}/gallery/{{folder.name}}")
        i.fa.fa-folder
        |  {{ folder.name }}
  hr
  .row
    .col-md-12
      h3(ng-bind="foldername|uppercase")
  //- ------------------------------------------------------------------------
  //- Gallery
  .row
    .col-md-6.col-lg-4.col-sm-12.gallery(
      ng-repeat="photo in gallery|orderBy:'-date'"
    )
      img.img-thumbnail.img-responsive.cursor-pointer(
        ng-src="{{photo.path}}"
        ng-click="open(photo)"
        alt="{{photo.description}}"
        title="{{photo.description}}"
      )
