extends ../layouts/patient.jade

prepend nav
  -var section = 'gallery'
  
block breadcrumb
  +breadcrumb(
    {href:"#/patients", name:"Lista de pacientes"},
    {href:"#/patients/{{patient.slug}}", name:"{{ patient.first_name }} {{ patient.last_name }}"},
    {name:"Fotos"}
  )

block content
  h2 Fotos
  
  //- ------------------------------------------------------------------------
  //- Toolbar
  .btn-toolbar(role="toolbar")
    .btn-group
      button.btn.btn-default(
        type='file'
        ngf-select="uploadPhoto($file, $invalidFiles)"
        accept="image/*")
        i.fa.fa-camera
        |  Subir foto
        
  //- ------------------------------------------------------------------------
  //- Gallery
  .row
    .col-md-6.col-lg-4.col-sm-12.gallery(
      ng-repeat="photo in gallery|orderBy:'-date'"
    )
      img.img-thumbnail.img-responsive.cursor-pointer(
        ng-src="{{photo.path}}"
        ng-click="open(photo)"
        alt="{{photo.description}}"
        title="{{photo.description}}"
      )
