extends ../layouts/patient.jade
prepend nav
  - var section = 'payments'

block content
  h2 Planilla de pagos

  form(novalidate name="form")
    .table-responsive
      table.table.table-hover.table-striped
        thead
          tr
            th(colspan=2) Fecha
            th Descripción
            th Debe
            th Haber
            th Saldo
          tr.active
            td(colspan=2) Ahora mismo
            td
               input.form-control(
                 ng-model="account.description" name="description"
                 placeholder="Chequeo médico" required
               )
            td
              input.form-control(
                ng-model="account.debit" name="debit" type="number"
                placeholder="$ 100" value=0
              )
            td
              input.form-control(
                ng-model="account.assets" name="credit" type="number"
                placeholder="$ 100" value=0
              )
            td
            td
              button.btn(ng-click="new(account)" ng-disabled="!form.$valid")
                | Guardar
          tr.active(ng-class="{'success': balance > 0, 'danger': balance < 0}")
            td(colspan=5): strong Balance
            td(colspan=2 ng-bind="balance|currency")

        //- -----------------------------------------------------------------
        //- Show payment details
        tbody(ng-repeat="account in accounting|orderBy:'-date'")
          tr
            td
             button.btn.btn-default.btn-sm(ng-click="showDependant(account)"
                                           title="Crear registro dependiente")
               i.fa.fa-plus
            td(ng-bind="account.date|date")
            td(ng-bind="account.description")
            td(ng-bind="account.debit|currency")
            td(ng-bind="account.assets|currency")
            td(ng-bind="account.balance|currency")
            td
              .btn-group(role="group")
                button.btn.btn-warning(ng-click="showEdit(account)" 
                                       title="Editar") 
                  i.fa.fa-pencil
                button.btn.btn-danger(ng-click="delete(account)"
                                      title="Eliminar")
                  i.fa.fa-trash
                  
          //- -----------------------------------------------------------------
          //- Show payment's childs details
          tr.child(ng-repeat="child in account.childs|orderBy:'-date'")
            td: i.fa.fa-angle-double-right
            td(ng-bind="child.date|date")
            td(ng-bind="child.description")
            td(ng-bind="child.debit|currency")
            td(ng-bind="child.assets|currency")
            td(ng-bind="child.balance|currency")
            td
              .btn-group(role="group")
                //- XXX Disable for now
                button.btn.btn-sm.btn-warning(ng-click="showEdit(child)" 
                                       title="Editar"
                                       ) 
                  i.fa.fa-pencil
                //- XXX Disable for now
                button.btn.btn-sm.btn-danger(ng-click="delete(child)"
                                      title="Eliminar"
                                      )
                  i.fa.fa-trash
          //- -----------------------------------------------------------------
        tfoot
          tr.active(ng-class="{'success': balance > 0, 'danger': balance < 0}")
            td(colspan=5): strong Balance
            td(colspan=2 ng-bind="balance|currency")
