extends ../layouts/patient.jade
include ../mixins/odontogram
include ../mixins/form

prepend nav
  -var section = 'odontogram'
  
block breadcrumb
  ol.breadcrumb
    li: a(href="/"): i.fa.fa-home
    li: a(href="#/patients") Lista de pacientes
    li: a(ng-href="#/patients/{{patient.slug}}"
          ng-bind="patient.first_name + ' ' + patient.last_name")
    li: a(ng-href="#/patients/{{patient.slug}}/odontograms") Odontogramas
    li: a(ng-href="#/patients/{{patient.slug}}/odontograms/{{odontogram._id}}"
          ng-bind="title || 'Detalle'")
    li.active Editar

block content
  h2 Odontograma
  +form-input("Título", "title", "Odontograma inicial")
  +form-textarea("Comentarios", "comments")
  
  //- ------------------------------------------------------------------------
  //- Toolbar
  .btn-toolbar(role="toolbar")
    //- Diseases buttons
    .btn-group
      button.btn.btn-disease(ng-click="setDisease(disease)" 
                             ng-repeat="disease in diseases"
                             ng-disabled="!sector_selected"
                             ng-bind="disease.description")
    //- Fixes buttons
    .btn-group
      button.btn.btn-fix(ng-click="setFix(fix)"
                         ng-repeat="fix in fixes"
                         ng-disabled="!sector_selected"
                         ng-bind="fix.description")
    //- Utils buttons
    .btn-group
      button.btn.btn-default(ng-click="clean()" ng-disabled="!sector_selected")
        i.fa.fa-eraser
        |  Limpiar
  
  //- ------------------------------------------------------------------------
  //- Odontogram SVG widget  
  +odontogram({issuesBar: true})
  
  //- ------------------------------------------------------------------------
  //- Save button
  button.btn.btn-success(ng-click="save()")
    i.fa.fa-save  
    |  Guardar
